<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <appSettings>
      <!-- Leave empty to use web only -->
      <add key="basedir" value=""/>
      <!-- Available programs: wow, wowt, wow_beta. Only matters when basedir is empty. -->
      <add key="program" value="wow"/>
      <!-- Output directory -->
      <add key="outdir" value=""/>
      <!-- First run -->
      <add key="firstrun" value="true"/>
      <!-- Listfile URL -->
      <add key="listfileurl" value="https://github.com/bloerwald/LegionFiles/raw/master/listfile.txt"/>
    </appSettings>
</configuration>
