# Visual Studio stuff
*.[Cc]ache
*.bak
*.baml
*.dll
*.DS_Store
*.exe
*.g.cs
*.g.i.cs
*.log
*.lref
*.pdb
*.resharper
*.resources
*.suo
*.user
.vs/*
*FileListAbsolute*
*TemporaryGenerated*
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Rr]elease/
Properties/
[Tt]humbs.db
_ReSharper.*
Ankh.NoLoad
build.force
build/
x64/

# Libraries
CSDBCReader.dll
SereniaBLPLib.dll
SharpDX

# NuGet
Packages/*

# Non-public projects (because test project or any other reason)
ADTdiff
AreaAssignments
BLPBatchConverter
CASCBot
CASCDump
CASCBuilder
DBCtest
EncodingDump
FileLinker
HotfixReader
HotfixUpdater
InstallDump
ListFileGenerator
MaxiMapCompiler
OBJExporter
OpenWoWEdit
QuickFNChecker
ShaderTest
SubMeshDump
UltraDiffer3000
WoWOpenGL_SH
WoWOpenGL

# Don't include cached data files
WoWOpenGL/Data/*
ExporterCLI/cache
*.db2
