[submodule "CASCExplorer"]
	path = CASCExplorer
	url = https://github.com/WoW-Tools/CASCExplorer.git
	branch = master
[submodule "DBFilesClient.NET"]
	path = DBFilesClient.NET
	url = https://github.com/Warpten/DBFilesClient.NET.git
