# Visual Studio stuff
*.[Cc]ache
*.bak
*.baml
*.dll
*.DS_Store
*.exe
*.g.cs
*.g.i.cs
*.log
*.lref
*.ncb
*.pdb
*.resharper
*.resources
*.suo
*.user
*FileListAbsolute*
*TemporaryGenerated*
[Bb]in
[Tt]humbs.db
_ReSharper.*
Ankh.NoLoad
build.force

# Libraries
CSDBCReader.dll
SereniaBLPLib.dll
SharpDX

# NuGet
Packages/*

# Non-public projects (because test project or any other reason)
ADTdiff
AreaAssignments
BLPBatchConverter
BLTEVerifier
CascBot
CASCDump
EncodingDump
DBCtest
ListFileGenerator
OBJExporter
OpenWoWEdit
QuickFNChecker
ShaderTest
SubMeshDump
UltraDiffer3000
WoWJsonDumper
WoWOpenGL_SH

# Don't include cached data files
WoWOpenGL/Data/*

# This stuff isn't ready for public consumption
OBJExporterUI/Utils*


