[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
CSDBCReader.dll
SereniaBLPLib.dll
SharpDX
SubMeshDump/*
Packages/*
WoWJsonDumper/*
WoWOpenGL/Data/*
WoWOpenGL/*.log
ShaderTest/*
WoWOpenGL_SH/*
CascBot
ListFileGenerator
UltraDiffer3000/*
ADTdiff/*
BuildBackup/*
AreaAssignments/*
QuickFNChecker/*
BLPBatchConverter/*
OBJExporter/*